*{
    box-sizing: border-box;
}

div.wizard{
    border: 7px solid green;
}

div.harry{
    border: 5px solid red;
    background-color: lightgoldenrodyellow;
    width: 50%;
    float: left;
}

div.potter{
    border: 5px solid blue;
    background-color: lightyellow;
    width: 50%;
    float: right;
}

div.clearfix{
    clear: both;
}

div.fruit{
    border: 7px solid red;
    margin-top: 20px;
}

div.apple{
    background-color: rgb(208, 233, 160);
    width: 25%;
    float: left;
    padding: 15px;
}

div.banana{
    background-color: rgb(173, 241, 238);
    width: 25%;
    float: left;
    padding: 15px;
}

div.mango{
    background-color: rgb(236, 212, 179);
    width: 25%;
    float: left;
    padding: 15px;
}

div.grapes{
    background-color: thistle;
    width: 25%;
    float: left;
    padding: 15px;
}

div.fruit::after{
    display: block;
    content: "";
    clear: both;
}

div.fruit h1.op{
    display: inline;
    border-bottom: 2px solid black;
}