@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body{
    font-family: 'Montserrat', sans-serif;
}

header p{
    color: blue;
}

header{
    background-color: #eee;
}

section.pnk{
    background-color: #fefedd;
}

section.pnk p{
    color: red;
}

ul+p{
    color: darkmagenta;
}

section.pnk h2{
    color: salmon;
}

section.pnk > h2{
    color: green;
}

li a{
    color: rgb(54, 134, 134);
}
